@page "/"
@using HiddenVilla_Server.Model

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@
<h2 class="bg-light border p-2">
    First Room
</h2>
Room: @room.RoomName
<br/>
Price: @room.Price
<br/>

<input type="number" @bind-value="room.Price" @bind-value:event="oninput"/>
<br/>
<input type="checkbox" @bind-value="room.IsActive" checked="@(room.IsActive ? "checked" : null)"/> &nbsp; Is Active
<br/>
<span>This room is @(room.IsActive ? "Active" : "Inactive")</span>

<select @bind="selectedRoomProp">
    @foreach (BlazorRoomProp prop in room.RoomProps)
    {
        <option value="@prop.Name">@prop.Name</option>
    }
</select>
<br/>
<span>The room property selected is: @selectedRoomProp</span>

@code
{
    string selectedRoomProp = "";
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RoomsList.Add(new BlazorRoom()
        {
            Id = 1, 
            IsActive = true,
            Price = 399,
            RoomName = "Villa Suite One Bedroom",
            RoomProps = new List<BlazorRoomProp>
            {
                new() {Id = 1, Name = "Sq Ft", Value = "330"},
                new() {Id = 2, Name = "Occupancy", Value = "4"}
            }
        }); 
        RoomsList.Add(new BlazorRoom()
        {
            Id = 2,
            IsActive = true,
            Price = 699,
            RoomName = "Villa Suite Two Bed Room",
            RoomProps = new List<BlazorRoomProp>
            {
                new() {Id = 1, Name = "Sq Ft", Value = "1150"},
                new() {Id = 2, Name = "Occupancy", Value = "6"}
            }
        });
    }
}
